/*-----------Mise en forme page----------*/
body{
    padding:0px;
    margin:0px;
    color: #a9a9b3;
    background-color: #292a2d;
    font-family: system-ui;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #a9a9b3;
}

.blue-link {
    color: #a9a9b3;
    text-decoration: none;
    color: #0095f6;
}

.blue-link:hover {
    color: #a9a9b3;
    text-decoration: none;
    color: #6bc4ff;
}

body a:hover{
    color:white;
    cursor: pointer;
}

#footer{
    bottom: 0%;
    width: 100%;
    margin-top: 50px;
    height: 50px;
    text-align: center;
}

#account{
    display: flex;
    align-items: center;
}

.sticky-header{
    background-color: #6a040f;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 3;
    padding-inline: 100px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo a{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #a9a9b3;
    margin-left: 10px;
}

.logo a:hover{
    color:white;
    cursor: pointer;
}

#content{
    display: block;
    max-width: 800px;
    width: 60%;
    margin: auto;
}


/* ------------Forms------------ */

input, textarea{
    background-color: #363636;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    height: 1.5rem;
    margin-top: 1rem;
    color: #a9a9b3;
}

textarea{
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
.form-submit:hover{
    cursor: pointer;
}



/*------------Animation nav------------*/

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li{
    list-style: none;
    margin: 0.5rem;
    padding: 10px;
}

.nav-links a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    color: #a9a9b3;
}

.nav-links div{
    position: relative;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 3rem;
    color: #a9a9b3;
}

.nav-links li a:hover{
	color:white;
    cursor: pointer;
}


/*------------diapo auto-------------*/
#slider{
    width: 300px;
    overflow-x: hidden;
    margin-top: 5%;
    margin-inline: auto;
    border-radius: 20px;
    height:min-content;
}

#slider2{
    width: 300px;
    overflow-x: hidden;
    margin-top: 5%;
    margin-inline: auto;
    border-radius: 20px;
    height:min-content;
}

#body-container{
    display: flex;
}

.diaporama {
    animation: slide 17s ease infinite 0s;
    width: 700%;
    position: sticky;
  }


  @keyframes slide {
    0%, 12%, 100% {
      transform: translate(0,0);
    }
    16%, 28% {
      transform: translate(-300px,0);
    }
    32%, 44% {
      transform: translate(-605px,0);
    }
    48%, 60% {
      transform: translate(-910px,0);
    }
    64%, 76% {
      transform: translate(-1215px,0);
    }
    80%, 92% {
      transform: translate(-1520px,0);
    }
    96%, 100%{
        transform: translate(0,0);
    }

  }



/*------------table-------------*/
#post{
    position: relative;
    margin-block-end: 1em;
}

.post-container{
    background-color: #35373a;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
    display: table-cell;
    vertical-align: top;
    padding: 10px 8px;
    width: 800px;
    margin: auto;
    position: relative;
    border-collapse: collapse;
}

.post-container h2{
    margin: 0%;
}

#post p,h3 {
    margin:0%
}

.post-author{
    font-style: italic;
    text-align: right;
}

.border{
    border-top: 1px solid #615b5b;
    width: 100%;
    margin-bottom: 1em;
}
#resum{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#resum img{
    max-width: 150px;
    max-height: 250px;
}


#resum-text{
    display: block;
}
#post:hover{
	color: #35373a;
    background-color: #a9a9b3;
	transition:color,background-color;
    transition-duration:0.3s,0.3s;
    cursor: pointer;
}
#post:not(:hover){
	color: #a9a9b3;
    background-color: #35373a;
	transition:color, background-color;
	transition-duration:0.3s,0.3s;
}

#input-title{
    width: 100%;
}

.rating {
    direction: rtl;
 }
.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 2em;
    transition: color .4s;
 }
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.star{
    color: orange;
    font-size: 1.5em;
    text-decoration: none;
}

#comments{
    border-left: #a9a9b3 0.25em solid;
    padding-left: 1em;
}