/*-----------Mise en forme page----------*/
body{
    padding:0px;
    margin:0px;
    color: #a9a9b3;
    background-color: #292a2d;
    font-family: system-ui;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #a9a9b3;
}

.blue-link {
    color: #a9a9b3;
    text-decoration: none;
    color: #55bde2;
}

body a:hover{
    color:white;
    cursor: pointer;
}

#footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding-top: 50px;
    height: 50px;
    text-align: center;
}

#account{
    display: flex;
    align-items: center;
}

.sticky-header{
    background-color: #6a040f;
    /* background-color: #252627; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 3;
    padding-inline: 100px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo a{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #a9a9b3;
    margin-left: 10px;
}

.logo a:hover{
    color:white;
    cursor: pointer;
}

#content{
    display: block;
    max-width: 800px;
    width: 60%;
    margin: auto;
    position: relative;
}

/* ------------Forms------------ */

input, textarea{
    background-color: #363636;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    height: 1.5rem;
    margin-top: 1rem;
    color: #a9a9b3;
}

textarea{
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
.form-submit:hover{
    cursor: pointer;
}



/*------------Animation nav------------*/

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li{
    list-style: none;
    margin: 0.5rem;
    padding: 10px;
}

.nav-links a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    color: #a9a9b3;
}

.nav-links div{
    position: relative;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 3rem;
    color: #a9a9b3;
}

.nav-links li a:hover{
	color:white;
    cursor: pointer;
}


/*------------diapo auto-------------*/
#slider{
    width: 300px;
    position: fixed;
    left: 5%;
    top: 20%;
    overflow-x: hidden;
    border-radius: 20px;
}

#slider2{
    width: 300px;
    position: fixed;
    right: 5%;
    top: 20%;
    overflow-x: hidden;
    border-radius: 20px;
}


.diaporama {
    animation: slide 17s ease infinite 0s;
    width: 700%;
    position: sticky;
  }
  @keyframes slide {
    0%, 12%, 100% {
      transform: translate(0,0);
    }
    16%, 28% {
      transform: translate(-305px,0);
    }
    32%, 44% {
      transform: translate(-610px,0);
    }
    48%, 60% {
      transform: translate(-915px,0);
    }
    64%, 76% {
      transform: translate(-1220px,0);
    }
    80%, 92% {
      transform: translate(-1525px,0);
    }
    96%, 100%{
        transform: translate(0,0);
    }

  }



/*------------table-------------*/
#post{
    position: relative;
    margin-block-end: 1em;
}

#list-post{
    background-color: #35373a;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
    display: table-cell;
    vertical-align: top;
    padding: 10px 8px;
    width: 800px;
    margin: auto;
    position: relative;
    border-collapse: collapse;
}

#post p,h3 {
    margin:0%
}

.post-author{
    font-style: italic;
}

.border{
    border-top: 1px solid #615b5b;
    width: 100%;
    margin-bottom: 1em;
}

#post:hover{
	color: #a9a9b3;
    background-color: #2B2D42;
	transition:color,background-color;
    transition-duration:0.5s,0.5s;
    cursor: pointer;
}
#post:not(:hover){
	color: #a9a9b3;
    background-color: #35373a;
	transition:color, background-color;
	transition-duration:0.5s,0.5s;
}

#input-title{
    width: 100%;
}