<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Forum {% endblock %}
<body>
    {% block content %}
    <h1>Ceci est la page forum</h1>
    <table>
        {% for post in list_post %}
        <div id="post">
            <div id="post_header">{{post.title}}</div>
            <div id="post_content">{{post.content}}</div>
            <div id="post_footer">{{post.author}}</div>
        </div>
        </br>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>