<!DOCTYPE html>
<html lang="en">
<style>
    .nav-links #forum{
        font-weight: bold;
        color: #fff;
    }
</style>
{% extends "base.html" %}
{% block title %}Forum {% endblock %}
<body>
    {% block content %}
    <h2>Le forum CINERUM</h2>
    <div id="list-post">
        {% for post in list_post %}
        <a href="/post/{{post.id}}">
            <div id="post">
                <h3 id="post_title">{{post.title.capitalize()}}</h3>
                <p id="post_content">{{post.content[0:50]+" ..."}}</p>
                <p id="post_author">Auteur : {{post.author}}</p>
            </div>
        </a>
        <div class="border"></div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>