<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %}
  {% block title %} Accueil {% endblock %}
    <body>
      {% block content %}
      <h1>Bienvenue sur le forum Cinerum</h1>
      <p1>Ici sera répertorié toutes les critiques, présentation et avis des films les plus récents. Chacun pourra partager son avis dans le respects d'autruits et dans un calme olympien.</p1>
      <table>
        <!-- Table headers -->
        <thead>
          <tr>
            <th>author</th>
            <th>title</th>
            <th>content</th>
          </tr>
        </thead>
        {% for post in postList %}
        <tr>
          <td>{{post.author}}</td>
          <td>{{post.title}}</td>
          <td>{{post.content}}</td>
        {% endfor %}
        </tr>
      </table>
      {% endblock %}
    </body>
</html>