<!DOCTYPE html>
<html lang="en">
    <head>
		    <meta name="viewport"/>
        <meta charset="utf-8"/>
        <title>Citation Prof</title>
		    <!-- <link rel="icon" type="image/png" href="https://vignette.wikia.nocookie.net/pokemon-prisme/images/3/35/Filet_Ball.png/revision/latest?cb=20201112190359&path-prefix=fr" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
      <nav class="sticky-header">
        <div class="logo">
            <a href="#"><h4>RollerBoard</h4></a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Accueil</a></li>
            <li><a href="#roller-div">Forum</a></li>
            <li><a href="#skate-div">Pubier</a></li>
            <li><a href="#photo-div">Recherche</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
      hello world
    </body>
</html>