<!DOCTYPE html>
<html lang="en">
  <style>
    .nav-links #home{
      font-weight: bold;
      color: #fff;
    }
  </style>
  {% extends "base.html" %}
  {% block title %} Accueil {% endblock %}
    <body>
      {% block content %}
      <div id="Bienveue">
        <h2>Bienvenue sur le forum Cinerum</h2>
        <p1>Ici seront répertoriés toutes les critiques, présentations et avis des films les plus récents. Chacun pourra partager son avis dans le respect d'autruit et dans un calme olympien.</p1>
        <p>Bonjour, Ceci est notre application web utilisant les bases de données. Il s'agit d'un forum de cinéma.</p>
        <p>Projet commencé le 02/02/2022</p>
        <h3>Liste des fonctionnalités disponibles :</h3>
        <ul>
          <li>S'inscrire / Se connecter</li>
          <ul>
            <li>Mots de passe sécurisés.</li>
            <li>Identifiants et emails uniques.</li>
          </ul>
          <br>
          <li>Se déconnecter</li>
          <ul>
            <li>En cliquant sur la flèche en haut à droite.</li>
          </ul>
          <br>
          <li>Ajouter un film au site</li>
          <ul>
            <li>L'utilisateur doit posséder un compte et être connecté pour ajouter un film.</li>
            <li>Image d'illustration du film (taille recommandée : 500*300).</li>
          </ul>
          <br>
          <li>Poster un commentaire</li>
          <ul>
            <li>L'utilisateur doit posséder un compte et être connecté pour poster un commentaire.</li>
            <li>La date de publication du commentaire s'affiche.</li>
          </ul>
          <br>
          <li>Consulter son profil</li>
          <ul>
            <li>En cliquant sur son pseudo ou sur l'icone en haut à droite.</li>
            <li>On peut consulter nos informations personnelles.</li>
            <li>On peut consulter le nombre de commentaires que l'on a postés sur le site.</li>
          </ul>
          <br>
          <li>Consulter le profil d'un autre utilisateur</li>
          <ul>
            <li>En cliquant sur son pseudo souligné sur un commentaire ou sur un post d'un film.</li>
            <li>On peut consulter le nombre de commentaires postés par l'utilisateur sur le site.</li>
          </ul>
        </ul>
      </div>
      {% endblock %}
    </body>
</html>