<!DOCTYPE html>
<html lang="en">
<style>
    .nav-links #forum{
        font-weight: bold;
        color: #fff;
    }
</style>
{% extends "base.html" %}
{% block title %}{{movie.title}}{% endblock %}
<body>
    {% block content %}
    <br>
    <div class="post-container">
        <h2>{{movie.title}}</h2>
        <div id="resum">
            <div id="resum-text">
                {% autoescape false  %}
                <p>{{movie.resum}}</p>
                {% endautoescape %}
                <div id="film-info">
                    <p>Réalisateur : {{movie.realisator}}</p>
                    <p>Date de sortie : {{movie.date}}</p>
                    <p>Genre du film : {{movie.genres}}</p>
                    <p>Durée du film : {{movie.duration}} minutes</p>
                </div>
                {% if moyenne != None %}
                <p>{{moyenne}}/5<a class="star">☆</a></p>
                {% endif %}
            </div>
            <img src="{{movie.image_path}}" alt="" height="500px" width="300px">
        </div>
        {% autoescape false %}
        <p class="post-author">Résumé écrit par <a style=text-decoration:underline href={{"/profile/" ~ movie.resum_author_id}}>{{movie.resum_author}}</a> le {{movie.creation_date}}</p>
        {% endautoescape %}
    </div>
    {%if connectedAs != None%}
    <div class="rating">
        <a href={{"/movie/" ~ movie.id ~ "/5"}} title="Donner 5 étoiles">☆</a>
        <a href={{"/movie/" ~ movie.id ~ "/4"}} title="Donner 4 étoiles">☆</a>
        <a href={{"/movie/" ~ movie.id ~ "/3"}} title="Donner 3 étoiles">☆</a>
        <a href={{"/movie/" ~ movie.id ~ "/2"}} title="Donner 2 étoiles">☆</a>
        <a href={{"/movie/" ~ movie.id ~ "/1"}} title="Donner 1 étoile">☆</a>
    </div>
    <form id="comment-form" action="/comment" method="POST">
        <div><textarea name="content" minlength=1 required placeholder="Écrire un commentaire"></textarea></div>
        <div><input type="submit" name= "form" value="Poster le commentaire" class="form-submit"/></div>
        <input type="hidden" name="id_movie" value={{movie.id}}>
    </form>
    {% else %}
    <p><a href="/login" class="blue-link">Connectez-vous</a> pour commenter ce post.</p>
    {% endif %}
    <br>
    {% if list_comment != [] %}
    <div class="post-container">
        <table>
            {% for comment in list_comment %}
            <div id="comments">
                {% autoescape false %}
                <p id="comment_content">{{comment.content}}</p>
                <p class="post-author">écrit par <a style=text-decoration:underline href={{"/profile/" ~ comment.user_id}}>{{comment.login}}</a> le {{comment.date}}</p>
                {% endautoescape %}
            </div>
            <div class="border"></div>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>