<!DOCTYPE html>
<html lang="en">
<style>
    .nav-links #forum{
        font-weight: bold;
        color: #fff;
    }
</style>
{% extends "base.html" %}
{% block title %}Post{% endblock %}
<body>
    {% block content %}
    <br>
    <div class="post-container">
        <h2>{{post.title}}</h2>
        {% autoescape false  %}
        <p>{{post.content}}</p>
        {% endautoescape %}
        <p class = "post-author">{{"Auteur : " ~ post.author}}</p>
    </div>
    {%if connectedAs != None%}
    <form id="comment-form" action="/comment" method="POST">
        <div><textarea name="content" minlength=1 required placeholder="Écrire un commentaire"></textarea></div>
        <div><input type="submit" name= "form" value="Poster le commentaire" class="form-submit"/></div>
        <input type="hidden" name="id_post" value={{post.id}}>
    </form>
    {% else %}
    <p><a href="/login" class="blue-link">Connectez-vous</a> pour commenter ce post.</p>
    {% endif %}
    <br>
    {% if list_comment != [] %}
    <div class="post-container">
        <table>
            {% for comment in list_comment %}
            <div id="comments">
                {% autoescape false %}
                <p id="comment_content">{{comment.content}}</p>
                {% endautoescape %}
                <p class="post-author"> {{"écrit par " ~ comment.user}}</p>
            </div>
            <div class="border"></div>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>