<!DOCTYPE html>
<html lang="en">
<style>
    .nav-links #signup{
      font-weight: bold;
      color: #fff;
    }
</style>
{% extends "base.html" %}
{% block title %}Creer mon compte {% endblock %}
<body>
    {% block content %}
    <h2>Créer son compte</h2>
    <p>{{message}}</p>
    <form action="/signupMethod" method="POST">
        login: <input type="text" name="login"/>
        password: <input type="password" name="password"/>
        email: <input type="email" name="email"/>
        age: <input type="number" name="age"/>
        <input type="submit" name= "form" value="Créer mon compte"/>
    </form>
    <p>Vous avez un compte ? <a href="/login">Connectez-vous</a></p>
    {% endblock %}
</body>
</html>